body{
  background-color: #EBFFFA;
  margin:0;
  text-align: center;
  font-family: 'Merriweather' ,serif;
}

h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  line-height: 2px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

.round_img{
  border-radius: 100%;
  width: 20%;
}

.top-container{
  background-color: #CDFCF6;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0 100px 0;
  background-color: #EBFFFA;
}

.bottom-container{
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #66BFBF
  /* padding: 50px 0 20px; */
}

.copyright{
  margin-bottom: 0;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-top: 20px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.skills{
  padding-top: 50px;
  padding-bottom: 100px;
}

.PL_img{
  width: 25%;
  border-radius: 100%;
  float: left;
  margin-right: 30px;
}

.PS_img{
  width: 25%;
  border-radius: 100%;
  float: right;
}

.profile{
  padding-bottom: 50px;
}

.h2{
  font-family: 'Montserrat',san-serif;
}
.h3{
  font-family: 'Montserrat',san-serif;
}

.contact-me{
  margin: 50px auto 0 auto;
}

.contact-message{
  margin-bottom: 50px;
}

.pro{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
}

.top-cloud{
  position: relative;
  left: 300px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat',san-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 50px auto 50px auto;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
